html, body{

	margin: 0px;
	padding: 0px;
	border: 0px;
}

#canvas-wraper{

	width: 800px;
	height: 600px;

	margin: 50px auto 0px auto;
	padding: 0;

	background-color: #ddd;

}

canvas{

	width: 800px;
	height: 600px;
}